* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 12vh;
  min-width: 100%;
  z-index: 10;
  background: #0f1423;
  border-bottom: 2px solid #0c2d48;
}

header .navigation .logo {
  margin-left: 20px;
  width: 100px;
}

header .navigation .logo img {
  max-width: 100%;
  height: auto;
}

header .navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: auto 20px auto 0;
}

header .navigation .humbarger {
  margin-right: 20px;
  display: none;
}

header .navigation .humbarger .bar {
  width: 30px;
  height: 2px;
  margin: 7px;
  background: #b1d4e0;
}

header .navigation .menu-list li a {
  color: #b1d4e0;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
}

/* ====================
    Intro Section
  =======================*/
.intro-section {
  height: 100vh;
  position: relative;
  background: rgba(15, 20, 35, 0.9);
}

.intro-section .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.intro-section .intro-content h1 {
  color: #b1d4e0;
  font-size: 5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 80px;
}

.intro-section .intro-content h6 {
  margin-top: 5px;
  color: #b1d4e0;
  font-size: 2.5rem;
  font-weight: 300;
}

.intro-section .intro-content p {
  margin-top: 40px;
  color: #b1d4e0;
}

.intro-content .tagline {
  margin-top: 80px;
}

.intro-section .intro-content .tagline .change-container {
  position: relative;
  display: inline-block;
  width: 560px;
  margin-bottom: 55px;
  margin-top: 30px;
}

.intro-section .intro-content .changing {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  color: #b1d4e0;
  text-transform: uppercase;
  word-spacing: 5px;
  text-align: center;
  font-size: 2.5rem;
}

.changing:nth-child(1) {
  animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
}

.changing:nth-child(2) {
  animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
}

.changing:nth-child(3) {
  animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
}

@keyframes revealNextWord {
  0% {
    opacity: 0.3;
    height: 0.0;
  }

  10% {
    opacity: 1;
    height: 1.2em;
  }

  20% {
    opacity: 1;
    height: 1.2em;
  }

  28% {
    opacity: 0;
    height: 2em;
  }

}

.intro-section .intro-content .header-btn a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #3498db;
  background-color: #b1d4e0;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.intro-section .intro-content .header-btn a:before {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background-color: #3498db;
  transform: skew(50deg);
  transition-duration: 1s;
  z-index: 1;
}



.intro-section .intro-content .header-btn a:hover {
  color: #b1d4e0;
}

.intro-section .intro-content .header-btn a:hover:before {
  width: 170%;

}

.intro-section .intro-content .header-btn a span {
  position: relative;
  z-index: 9;
}

/* ====================
    Responsive Section
  =======================*/

/* Tablet desktop :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .navigation .menu-list {
    width: 60%;
  }

  header .navigation .menu-list li a {
    font-size: 1rem;
  }

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

  header .navigation .menu-list {
    position: absolute;
    top: 12vh;
    min-width: 100%;
    background: rgba(15, 20, 35, 0.99);
    text-align: center;
    display: none;
  }

  header .navigation .menu-list li {
    display: block;
  }

  header .navigation .menu-list li a {
    display: block;
    padding: 20px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;

  }

  header .navigation .menu-list li a:hover {
    color: #b1d4e0;
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }


  header .navigation .humbarger {
    display: block;
  }

  .intro-section .intro-content h1 {
    font-size: 2.8rem;
    text-align: center;
  }

  .intro-section .intro-content h6 {
    font-size: 1.4rem;
  }

  .intro-section .intro-content .changing {
    font-size: 1.5rem;
  }

  .intro-section .intro-content .header-btn a {
    font-size: 1.25rem;
  }

}


/* small mobile :320px. */

@media only screen and (max-width: 479px) {

  .intro-inner .intro-content h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
  }

  .intro-inner .intro-content p {
    margin-top: 10px;
  }

}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {

  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  background-color: rgba(15, 20, 35, 0.9);
  padding: 2rem;
}

.section-heading {

  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(15, 20, 35, 0.9);
}

.card-img {
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 102px;
  width: 150px;
  margin: auto;

}

.card img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #b1d4e0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.card-content p {
  margin-bottom: 0;
  color: #b1d4e0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}


.about-row {
  margin: 0 -5px;

}

.inner-col {
  padding: 2rem;
}

.col {
  float: left;
  width: 50%;

}

.col img {
  max-width: 100%;
  height: auto;
}

/* Clear floats after the columns */
.about-row:after {
  content: "";
  display: table;
  clear: both;
}


/* contct us */


input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #b1d4e0;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #b1d4e0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: rgba(15, 20, 35, 0.9);
  padding: 20px;
  width: 95%;
  margin: auto;
}



.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.btn-row {

  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit-btn {
  text-decoration: none;
  width: 50%;
  font-size: 1.5rem;
  color: #3498db;
  background-color: #b1d4e0;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  margin: auto;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.submit-btn:hover {

  background-color: #3498db;
  color: #b1d4e0;
  transition-duration: 1s;

}


.footer {

  margin-top: 20px;
  background-color: rgba(15, 20, 35, 0.9);
  padding: 2rem;
}

.footer .column {

  float: left;
  width: 25%;
}

.footer-heading {
  color:  #b1d4e0;
}

.footer-text-about-us {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color:  #b1d4e0;
  margin-top: 10px;
}

.footer-pages li{
margin-top: 10px;
list-style: none;
color:  #b1d4e0;
font-size: 14px;
line-height: 22px;
font-weight: 500;
}

.footer-pages li:hover{
color: #3498db;
}

.social-links{
display: flex;
align-items: center;
flex-wrap: wrap;
margin-top: 10px;
gap: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer-form{
  border: 1px solid #007bb5;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 10px;
}

.footer-form h5{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color:  #b1d4e0;
}

.footer-form form input[type="email"]{
  height: 42px;
  border-radius: 10px;
  padding: 3px;
width: 100%;
margin-top: 10px;
}

.footer-form form button{
  width: 50%;
  border-radius: 10px;
  background-color: #b1d4e0;
  color: #3498db;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.footer-form form button:hover{
  background-color: #3498db;
  color: #3498db;
}


@media only screen and (max-width:768px) {

  .footer .column {

    float: left;
    width: 50%;
  }

.footer-form{
width: 100%;

}

  .footer-form form button{
    width: 100%;
   
  }

}